ACCOUNT_SERVICE_URL: account:9090
CATALOG_SERVICE_URL: catalog:9091
ORDER_SERVICE_URL: order:9092
PORT: "8080"

ACCOUNT_DB_URL: postgres://pgdb:123456@account_db:5432/pgdb?sslmode=disable
ACCOUNT_PORT: :9090
JWT_SECRET: secret

ELASTICSEARCH_URL: http://elasticsearch:9200
CATALOG_PORT: :9091

ORDER_DB_URL: postgres://pgdb:123456@order_db:5432/pgdb?sslmode=disable
ORDER_PORT: :9092
ACCOUNT_SERVICE_URL: account:9090
CATALOG_SERVICE_URL: catalog:9091

EMAIL_QUEUE_NAME: email
AMQP_URL: amqp://guest:guest@rabbitmq:5672

POSTGRES_DB: pgdb
POSTGRES_USER: pgdb
POSTGRES_PASSWORD: 123456

SMTP_EMAIL: sender email
SMTP_PASSWORD: sender email password
RECIPIENT_EMAIL: recipient email